---
import Icon from './Icon.astro';
---

<section class="box skills">
  <!-- Skills / 技能 -->
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="code" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Font-end</h2>
		<p>Web Developer. Use Vue/React, JavaScript/TypeScript.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="fish" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Petkeeper</h2>
		<p>Pet owners. Have fish and turtles at my home.  </p>
	</div>
	<!-- <div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Documentation</h2>
		<p>Maintaining Astro Docs. Translating to Chinese.</p>
	</div> -->
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
